package ${packageName}.${moduleName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${packageName}.${moduleName}.domain.entity.${upperClassName}Entity;
import org.apache.ibatis.annotations.Mapper;

/**
 * @description: ${comment}
 * @date ${datetime}
 * @version 1.0
 * @Replenishment: TODO
 */
@Mapper
public interface ${upperClassName}Mapper extends BaseMapper<${upperClassName}Entity> {

}

