package ${packageName}.service.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${packageName}.${moduleName}.domain.entity.${upperClassName}Entity;
import ${packageName}.${moduleName}.mapper.${upperClassName}Mapper;
import ${packageName}.service.I${upperClassName}Service;
import org.springframework.stereotype.Service;

/**
 * @description: ${comment}
 * @date ${datetime}
 * @version 1.0
 * @Replenishment: TODO
 */
@Service
public class ${upperClassName}ServiceImpl extends ServiceImpl<${upperClassName}Mapper, ${upperClassName}Entity> implements I${upperClassName}Service {

}

