package ${packageName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${packageName}.${moduleName}.domain.entity.${upperClassName}Entity;

/**
 * @description: ${comment}
 * @date ${datetime}
 * @version 1.0
 * @Replenishment: TODO
 */
public interface I${upperClassName}Service extends IService<${upperClassName}Entity> {

}

